################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/C24071041_practice_9_2/.vs/practice8/v15/Server/sqlite3/db.lock
