################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/C24071041_practice_9_2/.vs/practice8/v15/Server/sqlite3/db.lock
/C24071041_practice_9_2/.vs/practice8/v15/Server/sqlite3/storage.ide
/C24071041_practice_9_2/.vs/practice8/v15/Server/sqlite3/storage.ide-shm
/C24071041_practice_9_2/.vs/practice8/v15/Server/sqlite3/storage.ide-wal
/C24071041_practice_11_2/.vs/practice9/v15/Server/sqlite3/db.lock
/C24071041_practice_11_2/.vs/practice9/v15/Server/sqlite3/storage.ide
/c24071041_practice_6_1/.vs/c24071041_practice_6_1/v15/Server/sqlite3/db.lock
/c24071041_practice_6_1/.vs/c24071041_practice_6_1/v15/Server/sqlite3/storage.ide
/c24071041_practice_6_1/.vs/practice4/v15/Server/sqlite3/db.lock
/c24071041_practice_6_1/.vs/practice4/v15/Server/sqlite3/storage.ide
/c24071041_practice_6_1/.vs/practice4/v15/Server/sqlite3/storage.ide-shm
/c24071041_practice_6_1/.vs/practice4/v15/Server/sqlite3/storage.ide-wal
